<!DOCTYPE html>
<html > 
    <head>
      <title>ALC Skool</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="font-awesome.min.css">
      <link rel="stylesheet" href="styles.css">
      <!-- 1. Load libraries -->
       <!-- Polyfill(s) for older browsers -->
      <script src="node_modules/core-js/client/shim.min.js"></script>
      <script src="node_modules/zone.js/dist/zone.js"></script>
      <script src="node_modules/reflect-metadata/Reflect.js"></script>
      <script src="node_modules/systemjs/dist/system.src.js"></script>
      <!-- 2. Configure SystemJS -->
      <script src="systemjs.config.js"></script>
    </head>
    <!-- 3. Display the application -->
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">ALC Skool</a>
              </div>
            </div>
        </nav>
         
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <h1>API guide</h1>
                <div>
                  <input type="button" value="Get All students"/>
                  <input type="text" value="https://alctest.herokuapp.com/api/students"/>
                </div>
                <br/>

                <div>
                    <input type="button" value="Get A Student"/>
                    <input type="text" value="https://alctest.herokuapp.com/api/student/:id"/>
                </div>
                <br/>

                <div>
                    <input type="button" value="Get All students"/>
                    <input type="text" value="https://alctest.herokuapp.com/api/students"/>
                </div>
                <br/>
              </div>    
          </div>    
      </div>
      
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </body>
  </html>